.home{
    background-color: #000;
}
.BlocFilm{
    background-color: #000;
    margin-left: 7vw;
}
.image{
    height: 15vh;
    //width: 19%;
    padding-right: 3px;
}

.titre{
    color: white;
    font-size: 23px;
    margin-left: 7.5vw;
    padding-top: 10vh;
    //background-color: #61dafb;
    width: 10vw;
}
.titre2{
    color: white;
}
.tab{
    background-color: #61dafb;
}
.titre3{
    color: white;
    position: relative;
    top: 2vh;
}
.plus{
    float: right;
    position : absolute;
    right: 0;
    bottom: 0;
    color: white;
}
.blocBtn{
    position: relative;
    top: 3.8vh;
}
.plus:hover{
    color: #282c34;
}
/*.so:hover{
    transform: scale(1.1);
}
.so{
    transition: transform .6s; !* Animation *!
}*/
.alerts{
    z-index: 10;
    background-color: #7E0A0A;
    border: #7E0A0A solid 1px;
    color: #fff;
    position: fixed;
    left: 27vh;
    opacity: 0.8;
}
.infos{
    /*float: right;
    position : absolute;
    right: 0;
    bottom: 0;*/
    float: right;
    color: white;
    position: relative;
    top: 2vh;
    //padding-top: 7vh;
}
.infos:hover{
    color: #282c34;
}

.so {
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.so .overlay {
    position:absolute;
    overflow:hidden;
    opacity:0;
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    width:21.1vw;
    //background-color: white;
}
.overlay{
    position: relative;
    bottom: 4.5vh;
    //left: 2px;
    height: 15vh;
}

.so .image {
    display:block;
    position:relative;
    -webkit-transition:all .6s linear;
    transition:all .6s linear;
}

.ob{
    color: white;
    position: relative;
    left: 10px;
    top: 3vh;
}
.ob:hover{
    color: #282c34;
}

.so:hover .image {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.so:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
